<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Clint enconder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <style type="text/css">
      html,
      body {
        font-family: 'Ubuntu', sans-serif;
        height: 100%;
      }

      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
      }

      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }

      .title-group {
        color: #585858;
        font-size: 18px;
        font-weight: bold;
      }

      .padding-top-group-title{
        padding-top: 10px;
      }

    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1> ✰ Clint Enconder ✰ </h1>
        </div>
        <fieldset>
          <legend>▶ Setup Input</legend>

          <div class="control-group">
              <span class="control-label title-group">Device input</span>
              <div class="controls form-inline padding-top-group-title">
                  <label for="video-input">Video</label>
                  <select id="video-input" class="input-medium" data-bind="options: videoInputs, value: videoInput">
                  </select>
                  &nbsp;
                  <button class="btn btn-info">Preview</button>
                  &nbsp;
                  &nbsp;
                  <label for="audio-input">Audio</label>
                  <select id="audio-input" class="input-medium" data-bind="options: audioInputs, value: audioInput">
                  </select>
              </div>
          </div>

          <div class="control-group">
              <span class="control-label title-group">Format</span>
              <div class="controls form-inline padding-top-group-title">
                  <label for="video-format">Video</label>
                  <select id="video-format" class="input-small" data-bind="options: videoFormats, value: videoFormat">
                  </select>
                  &nbsp;
                  &nbsp;
                  <label for="audio-format">Audio</label>
                  <select id="audio-format" class="input-small" data-bind="options: audioFormats, value: audioFormat">
                  </select>
              </div>
          </div>

          <div class="control-group">
            <span class="control-label title-group">Bitrate <span class="badge badge-inverse" data-bind="text: bitrates().length"></span></span>
              <div class="controls form-inline padding-top-group-title">
                <button class="btn btn-success" data-bind="click: addBitrate">Add</button>
                <table data-bind="visible: bitrates().length">
                  <thead>
                      <tr>
                        <th>Kbps</th><th>Width</th><th>Height</th><th></th>
                      </tr>
                  </thead>
                    <tbody data-bind="foreach: bitrates">
                      <tr>
                        <td>
                          <select class="input-small" data-bind="options: $root.kbpsAvailable, value: kbps ">
                          </select>
                        </td>
                        <td>
                          <input class="input-mini" placeholder="1080" data-bind="value: width"></input>
                        </td>
                        <td>
                          <input class="input-mini" placeholder="720" data-bind="value: height"></input>
                        </td>
                        <td>
                          <button class="btn btn-danger btn-mini" data-bind="click: $root.removeBitrate">x</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>◀ Setup Outup</legend>
          <label for="rtmp-name">RTMP address</label>
          <input id="rtmp-name" class="input-xxlarge" type="text" placeholder="rtmp://192.0.0.12/live" data-bind="value: rtmpAddress"></input>

          <label for="stream-name">Stream name</label>
          <input id="stream-name" type="text" placeholder="live_event" data-bind="value: streamName"></input>
        </fieldset>
        <button class="btn btn-large btn-primary" data-bind="click: stream">Stream</button>
      </div>

      <div id="push"></div>
    </div>
    <script src="js/bootstrap.js"></script>
    <script src="js/knockout-2.2.1.js"></script>
    <script src="js/clint.js"></script>
  </body>
</html>

