<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <h1> ✰ Clint Enconder ✰ </h1>
        </div>
        <%= erb :input_encoder %>
        <%= erb :output_encoder %>
        <button class="btn btn-large btn-primary" data-bind="click: stream">Stream</button>
      </div>
      <div id="push"></div>
    </div>
    <%= erb :js %>
  </body>
</html>

