<fieldset>
  <div class="control-group">
    <span class="control-label title-group">Input device</span>
    <div class="controls form-inline padding-top-group-title encoder-input-controls row">
      <div class="span3">
        <label for="video-input">Video</label>
        <select id="video-input" class="input-medium" data-bind="options: videoInputs, value: videoInput, event: { change: videoInputChange }">
        </select>
        <button class="btn btn-info" data-bind="visible: !uploadEnable()">Preview</button>
        <button class="btn btn-info" data-bind="visible: uploadEnable">Upload</button>
      </div>
      <div class="span3">
        <label for="audio-input">Audio</label>
        <select id="audio-input" class="input-medium" data-bind="options: audioInputs, value: audioInput">
        </select>
      </div>
    </div>
  </div>

  <div class="control-group">
    <span class="control-label title-group">Format</span>
    <div class="controls form-inline padding-top-group-title encoder-input-controls row">
      <div class="span3">
        <label for="video-format">Video</label>
        <select id="video-format" class="input-small" data-bind="options: videoFormats, value: videoFormat">
        </select>
      </div>
      <div class="span3">
        <label for="audio-format">Audio</label>
        <select id="audio-format" class="input-small" data-bind="options: audioFormats, value: audioFormat">
        </select>
      </div>
      <div class="span3">
        <a href="#">+Show advanced</a>
      </div>
      <div class="span3">
        <a href="#">+Show advanced</a>
      </div>
      <div class="span3">
        <label >Frame rate</label>
        <input>
      </div>
      <div class="span3">
        <label >Sample rate</label>
        <input value="44k">
      </div>
      <div class="span3">
        <label >Input size</label>
        <input value="640x480">
      </div>
      <div class="span3">
        <label >Bitrate</label>
        <input value="64Kbps">
      </div>
      <div class="span3">
        <label >GOP</label>
        <input value="64Kbps">
      </div>
      <div class="span3">
        <label >Volume</label>
        <input value="64Kbps">
      </div>
    </div>
  </div>

  <div class="control-group">
    <span class="control-label title-group">Bitrate <span class="badge badge-inverse" data-bind="text: bitrates().length"></span></span>
    <div class="bitrates controls form-inline padding-top-group-title">
      <button class="btn btn-success btn-add-bitrate" data-bind="click: addBitrate, enable: maximumOfBitrates()">Add</button>
      <table data-bind="visible: bitrates().length">
        <thead>
          <tr>
            <th>Kbps</th><th>Width</th><th>Height</th><th></th>
          </tr>
        </thead>
        <tbody data-bind="foreach: bitrates">
        <tr>
          <td>
            <select class="input-small" data-bind="options: $root.kbpsAvailable, value: kbps ">
            </select>
          </td>
          <td>
            <input class="input-mini" placeholder="1080" data-bind="value: width"></input>
          </td>
          <td>
            <input class="input-mini" placeholder="720" data-bind="value: height"></input>
          </td>
          <td>
            <button class="btn btn-danger btn-mini" data-bind="click: $root.removeBitrate">x</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
