<fieldset>
  <legend>◀ Setup Output</legend>
  <label for="rtmp-name">RTMP address</label>
  <input id="rtmp-name" class="input-xxlarge" type="text" placeholder="rtmp://192.0.0.12/live" data-bind="value: rtmpAddress"></input>

  <label for="stream-name">Stream name</label>
  <input id="stream-name" type="text" placeholder="live_event" data-bind="value: streamName"></input>
</fieldset>
